---
page_title: "edgecast_rules_engine_policy Resource"
subcategory: "Rules Engine"
description: |-
  edgecast_rules_engine_policy Resource
---

# edgecast_rules_engine_policy Resource

Use the `edgecast_rules_engine_policy` resource to deploy a Rules Engine policy. A policy defines how specific types of requests are processed by the CDN. 

-> You cannot modify or delete an existing Rules Engine policy through Terraform. However, if you modify an `edgecast_rules_engine_policy` resource, we will deploy a new Rules Engine policy.

Rules Engine policies created through Terraform use the following naming convention:

        tf--<ENVIRONMENT>-<PLATFORM>-<UNIX TIMESTAMP>

**Example:** tf--staging-http_large-1650317692

-> Although you may define a name through the `name` property within your JSON file, we will always use the above naming convention instead. 

## Authentication

This resource requires a [REST API client](../guides/authentication#rest-api-oauth-20-client-credentials) that has been assigned the `ec.rules` scope.

!> Our Terraform implementation only supports a single scope per REST API client. If you plan on managing both `edgecast_rules_engine_policy` and `edgecast_cps_certificate` resources, then you will need to use a separate working directory for each type of resource.

## Format

Define a policy in JSON using the [Add Policy endpoint's request body parameters](https://developer.edgecast.com/cdn/api/index.html#Media_Management/REv4/Add-Policy.htm#Request). 

!> You may only define your policy using the above parameters. Including other parameters (e.g., `created_at` or `updated_at`), such as those returned by the Get Policy endpoint, may generate an error.

## Example Usage

{{tffile "examples/resources/edgecast_rules_engine_policy/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
