---
page_title: "edgecast_waf_managed_rule Resource"
subcategory: "Web Application Firewall (WAF)"
description: |-
  edgecast_waf_managed_rule  Resource
---

# edgecast_waf_managed_rule  Resource
Use managed rules to:

* Identify malicious traffic via predefined rules. A collection of policies and rules is known as a rule set.
* Prevent false positives by:
    * Defining cookies, request headers, and query string arguments that should be ignored when performing a threat assessment. This type of configuration is known as an ignore list.
    * Identifying requests for which specific predefined rules will not be applied. This type of configuration is known as a rule exception.

[Learn more.](https://docs.edgecast.com/cdn/#Web-Security/Managed-Rules.htm)


-> Apply a managed rule to your traffic by adding it to a [Security Application Manager](https://docs.edgecast.com/cdn/#Web-Security/SAM.htm) configuration.

-> You may manage an existing managed rule by importing it as a resource.  
[Learn more.](#import-resource)

## Example Usage

{{tffile "examples/resources/edgecast_waf_managed_rule/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import Resource
Manage an existing edge CNAME configuration through Terraform by importing it as a resource. Perform the following steps:
1. Insert an empty resource block within your resource configuration.

        resource "edgecast_waf_managed_rule" "<RESOURCE>" {
          
        }
    **Example:**

        resource "edgecast_waf_managed_rule" "sample_managed_rule" {
          
        }
1. Run the following command to attach an edge CNAME configuration to your resource configuration.

        terraform import edgecast_waf_managed_rule.<RESOURCE> <ACCOUNT_NUMBER>:<MANAGED_RULE_ID>
    * `<RESOURCE>` - Replace this term with the name of the resource defined in step 1.
    * `<ACCOUNT_NUMBER>` - Replace this term with your customer account number. Find your account number in the upper right-hand corner of the MCC.
    * `<MANAGED_RULE_ID>` - Replace this term with the system-defined ID assigned to the desired managed rule. You may retrieve a list of managed rules and their system-defined IDs through our [REST API](https://developer.edgecast.com/cdn/api/index.html#Media_Management/Web-Security/Get-All-Profiles.htm).

    **Example:**

        terraform import edgecast_waf_managed_rule.sample_managed_rule 0001:123456
->Upon running the above command, a resource for that managed rule will be recorded in the state file.