---
layout: ""
page_title: "Provider: Verizon Media Platform"
description: |-
  A Terraform provider for the Verizon Media Platform.
---

# Verizon Media Platform Provider

A Terraform provider for the Verizon Media Platform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}