---
page_title: "edgecast_cps_dns_txt_token Data Source"
subcategory: "Certificate Provisioning System (CPS)"
description: |-
  edgecast_cps_dns_txt_token Data Source
---

# edgecast_cps_dns_txt_token Data Source

Use the `edgecast_cps_dns_txt_token` data source to retrieve the token value through which you may prove control over your certificate request's domains.

## Authentication

This resource requires a [REST API client](../guides/authentication#rest-api-oauth-20-client-credentials) that has been assigned the `sec.cps.certificates` scope.

## Example Usage

{{tffile "examples/data-sources/edgecast_cps_dns_txt_token/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
