---
page_title: "edgecast_cps_dns_txt_token Data Source"
subcategory: "Certificate Provisioning System (CPS)"
description: |-
  edgecast_cps_dns_txt_token Data Source
---

# edgecast_cps_dns_txt_token Data Source

Use the `edgecast_cps_dns_txt_token` data source to retrieve the token value through which you may prove control over your certificate request's domains.

## Authentication

This resource requires a [REST API client](../guides/authentication#rest-api-oauth-20-client-credentials) that has been assigned the `sec.cps.certificates` scope.

## Potential issue with CPS Data Sources
There is a potential issue where setting `wait_until_available=true` for `edgecast_cps_dns_txt_token` causes the provider to wait for the data source on terraform plan. This wait time is valid, but it may not be desired behavior at plan time.

To work around this, you will need to define a variable that can be set to `false` at plan time and then `true` at apply time. Then, you can use it like so:

```bash
terraform apply -var 'wait_for_ec_cps_data_sources=true'
```

An exampe of this workaround be found below.

## Example Usage

{{tffile "examples/data-sources/edgecast_cps_dns_txt_token/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
