---
page_title: "edgecast_originv3_httplarge_origin_shield_pops Data Source"
subcategory: "Origins - V3"
description: |-
  edgecast_originv3_httplarge_origin_shield_pops Data Source
---

# edgecast_originv3_httplarge_origin_shield_pops Data Source

Use the `edgecast_originv3_httplarge_origin_shield_pops` data source to retrieve the available Origin Shield locations for the HTTP Large platform by region. Use Origin Shield POP codes (code) and bypass codes (bypass_code) to set or to interpret Origin Shield settings for a customer origin group.

## Authentication

This resource requires a [REST API client](../guides/authentication#rest-api-oauth-20-client-credentials) that has been assigned the `cdn.origins` scope.

## Example Usage

{{tffile "examples/data-sources/edgecast_originv3_httplarge_datasource/data.tf"}}

{{ .SchemaMarkdown | trimspace }}
