# Leave blank to log to standard output
LOG_FILE=""

ACCOUNT_NUMBER             = ""
TF_VAR_MCC_ACCOUNT_EMAIL   = "" # Email associated to above account number

API_ADDRESS                = ""
API_ADDRESS_LEGACY         = ""

API_TOKEN                  = ""
API_TOKEN_PCC              = ""

# To run the full suite of tests, these credentials need the following scopes:
#   sec.cps.certificates
#   cdn.origin
#   ec.rules
IDS_ADDRESS                = ""
IDS_CLIENT_ID              = ""
IDS_CLIENT_SECRET          = ""
IDS_SCOPE                  = "cdn.origins sec.cps.certificates ec.rules"

# Populate Resource Test Data
# Specify comma separated values for POPULATE_ONLY to populate ONLY a subset of 
# resources.
# If left empty or not specified, all resources will be populated.
#
# Valid values:
#   "customer"          = Customer & Customer User only
#   "origin"            = Origin only
#   "cname"             = CNAME only
#   "dns"               = DNS only
#   "rules_engine"      = Rules Engine only
#   "waf"               = WAF only
#   "originv3"          = OriginV3 only
#   "waf_botmanager"    = WAF Bot Manager only
#   "cps"               = CPS only
#
# Example: "customer,cname,rules_engine"
#POPULATE_ONLY = "originv3,waf_botmanager,cps"
POPULATE_ONLY = ""

# Supply a value to enable Import testing for each resource.
CUSTOMER_USER_IMPORT_ID             = ""
DNS_MASTER_ZONE_GROUP_IMPORT_ID     = ""
DNS_SECONDARY_ZONE_GROUP_IMPORT_ID  = ""
DNS_GROUP_IMPORT_ID                 = ""
DNS_TSIG_IMPORT_ID                  = "" 
DNS_ZONE_IMPORT_ID                  = ""
ORIGIN_IMPORT_ID                    = ""
RULES_ENGINE_IMPORT_ID              = ""
WAF_ACCESS_RULE_IMPORT_ID           = "" 
WAF_BOT_RULE_SET_ID                 = ""
WAF_CUSTOM_RULE_IMPORT_ID           = ""
WAF_MANAGED_RULE_IMPORT_ID          = ""
WAF_RATE_RULE_IMPORT_ID             = ""
WAF_SCOPES_IMPORT_ID                = ""
CERTIFICATE_IMPORT_ID               = ""
ORIGINV3_GROUP_IMPORT_ID            = ""
WAF_BOT_MANAGER_IMPORT_ID           = ""